/*
* Title: A website about cars
* Author: Klea Saiti
* Date: 15.03.22
*/

/************ General Styles ******************/

body{
	margin: 0;
}

/* Navigation */
nav{
	background-color: dimgrey;
	display: flex;
	justify-content: space-between; /* To make spce between logo and list */
	align-items: center;
	padding: 40px;
}

nav img{
	height: 90px;
	border-radius: 60px;

}

nav ul li a {
	margin: 30px;
	padding: 30px;
	text-decoration: none; /* Removes the underline decoration of a link*/
	color: black;
	background-color: grey;
	border-radius: 20px;
}


nav ul{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style-type: none;

}


/* Hover is used to make a nice effect if we put the mouse over the link */
nav ul li a:hover {
	background-color: ghostwhite;
	color: black;
}

/* Heder */
header{
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-position: center;
	background-size: cover;
}

header h1{
	font-size: 60px;
	text-transform: uppercase;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 20px;
	padding: 20px;
}

/*Main*/
main {
	padding: 100px;
}


/* Footer */
footer {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 400px;
	background: linear-gradient(221deg, rgba(115,115,115,1) 20%, rgba(19,19,19,1) 80%);

}

footer p{
    color: rgba(255, 255, 255, 0.8);
	font-size: 30px;
}

/* sections */
section{
	padding: 50px;
	background-color: darkgray;

}

/******************************* Page Styles*************/

/* Home Page */
#Home header{
	background-image: url(cars.jpg) ;
}


/* About Page */
#About header{
	background-image: url(header-background-about.jpg);

}
main h2{
	color: blau;
}

/* Cities Page */
#Cities header{
	background-image: url(cities.jpg);
}
main h2{
	color: pink;
}

/* Tiere Page*/
#Tiere header{
	background-image: url(tiere.jpg);
}

main{
	background-color: grey;

}
main h2{
	color: green;

}

