h1 {
	color: blue;
	font-weight: bold;
	/* Inherited from body:
	font-family: sans-serif;
	font-ize: 16px;
	*/
}

body{
	color: blue;
	font-family: sans-serif;
	font-size: 16px;
	font-weight: normal;
}

p{
	font-size: 12px;
	/* Inherited from body:
	color: lightblu;
	font-family: sans-serif;
	font-weight: normal;
	*/
}