p{
	padding: 30px;

}
.a{
	background-color: #28BA98

}
.b{
	background-color: rgb(244,9,180)

}
.c{
	background-color: #3B8AC3

}
.d{
	background-color: rgb(98,100,210)

}
.e{
	background-color: #92FEBA

}
.f{
	background-color: rgb(10,78,49)

}
.g{
	background-color: #10A9EB

}
.h{
	background-color: rgb(70,200,0)

}
.i{
	background-color: #01F7BE

}
.j{
	background-color: rgb(0,0,200)
 

}